body {
    background-color:whitesmoke;
    color: blue;
}
p{
    color:green
}
.box {
    color: red
}
.items p { 
    colour: red
}
.box {
    border: 1px solid black;
    margin: 0 25%;
  }
img {
    width: 40%;
    margin: 0 30%
}
.box2 {
    border: 1px solid black;
    margin: 0 25%;
}
table {
    width: 45%;
    margin: 10% 25%
}
href {
    width: 45%
}
.box2 {
    color: red
}